@import url(https://fonts.googleapis.com/css?family=Rubik:200,300,regular,500,600,700,800,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Rubik";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #000;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.text {
  line-height: 2;
  font-weight: 500;
}

.button {
  background-color: #b5c45c;
  color: #131411;
  border-radius: 6.25rem;
}

.button:hover {
  background-color: #e1e9d2;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.title {
  font-weight: 700;
  color: #b5c45c;
}

.icon-menu {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 0.0625rem solid #696969;
  z-index: 6;
  background-color: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  z-index: 6;
  font-weight: 600;
}

.header__button:hover {
  color: #b5c42c;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__logo {
  z-index: 7;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__link {
  display: block;
  line-height: 1, 62;
}

.sticky {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0.8;
}

.menu__list {
  gap: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list li {
  display: inline-block;
}

.menu__list a {
  position: relative;
  display: block;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.menu__list a:hover {
  color: #b5c42c;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}

.menu__list a:hover:before {
  background: #b5c42c;
  width: 100%;
  -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu__list a:hover:after {
  background: transparent;
  width: 100%;
  -webkit-transition: 0s;
  transition: 0s;
}

.menu__list a:before,
.menu__list a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -0.625rem;
  background: #fff;
}

.menu__list a:before {
  left: 1px;
}

.menu__list a:after {
  right: 0;
  background: #fff;
  -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu-open .menu__body,
.menu-open .menu__body {
  left: 0;
}

.footer {
  border-top: 0.0625rem solid #696969;
}

.footer__container {
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.375rem;
}

.footer__logo img {
  width: 60%;
}

.footer__contacts {
  text-align: center;
}

.footer__phone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.3125rem;
}

.footer-socials a img {
  width: 20%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__container {
  position: relative;
}

.main__title {
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  cursor: default;
  color: #fff;
}

.main__title span {
  color: #b5c45c;
}

.main__run {
  position: absolute;
  overflow: hidden;
  top: 40%;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  font-weight: 800;
  opacity: 0.3;
}

.main__run_text {
  -webkit-text-stroke: 2px #b5c45c;
  color: transparent;
  display: inline-block;
  white-space: nowrap;
  -webkit-animation: moveText 10s linear infinite;
          animation: moveText 10s linear infinite;
  cursor: default;
}

@-webkit-keyframes moveText {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }

  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes moveText {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }

  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.main__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.main__body-media {
  position: relative;
  text-align: center;
}

.main__body-img {
  position: relative;
  width: 100%;
}

.main__body-img ::before {
  content: "";
  position: absolute;
  width: 1500px;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1500px;
  border-radius: 50%;
  background: radial-gradient(#b5c45c, rgba(0, 0, 0, 0.8), rgb(0, 0, 0));
  opacity: 0.4;
  z-index: -1;
}

.main__body-contacts {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.main__body-social-item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.portfolio__title {
  text-align: center;
  padding: 1.25rem 0 2.5rem 0;
}

.portfolio__items {
  display: -ms-grid;
  display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item {
  position: relative;
  overflow: hidden;
}

.portfolio__item a:hover {
  color: #b5c45c;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.portfolio__item:hover {
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.portfolio__item img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.portfolio__item span {
  font-weight: 500;
}

.portfolio__item-description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.portfolio__item-description:hover {
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  opacity: 1;
}

.skills__container {
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.skills__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  gap: 0.625rem;
  background-color: #171717;
  display: flex;
  justify-content: center;
}

.skills__item:hover {
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  background-color: #202020;
  cursor: pointer;
}

.skills__item img {
  width: 3.75rem;
}

.gulp img {
  max-width: 11.22%;
}

.whyme {
  padding-bottom: 5rem;
}

.whyme__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.whyme__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.whyme__title {
  font-weight: 800;
  text-align: center;
}

.whyme__title span {
  color: #b5c45c;
}

.whyme__text {
  padding-top: 1.25rem;
  line-height: 1.5384615385;
  font-size: 1.25rem;
  text-align: justify;
  text-indent: 30px;
}

.whyme__slider {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.whyme__slide img {
  width: 100%;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 81.25em) {
  .text {
    font-size: 1.25rem;
  }

  .button {
    padding: 1.25rem;
  }

  .button {
    font-size: 1.25rem;
  }

  .title {
    font-size: 3.75rem;
  }

  .header__container {
    padding: 1.25rem;
  }

  .header__button {
    font-size: 1.25rem;
  }

  .header__logo img {
    height: 4.375rem;
  }

  .header__menu {
    gap: 6.25rem;
  }

  .menu__list {
    font-size: 1.25rem;
  }

  .menu__list li {
    padding: 1.25rem;
  }

  .menu__list {
    gap: 0.9375rem;
  }

  .main__container {
    margin-top: 7.5rem;
  }

  .main__title {
    font-size: 5rem;
  }

  .main__run_text {
    font-size: 5rem;
  }

  .main__body {
    padding-top: 2.5rem;
  }

  .main__body-socials {
    padding-top: 0.625rem;
  }

  .portfolio {
    margin-top: 12.5rem;
  }

  .portfolio__items {
    gap: 1.25rem;
  }

  .portfolio__item span {
    font-size: 1.875rem;
  }

  .skills__container {
    margin-top: 9.375rem;
  }

  .skills__items {
    margin-top: 3.125rem;
  }

  .skills__item {
    padding: 1.875rem;
  }

  .whyme__container {
    margin-top: 9.375rem;
  }

  .whyme__title {
    font-size: 3.125rem;
  }
}

@media (max-width: 20em) {
  .text {
    font-size: 0.875rem;
  }

  .button {
    padding: 0.625rem;
  }

  .button {
    font-size: 0.875rem;
  }

  .title {
    font-size: 1.875rem;
  }

  .header__container {
    padding: 0.625rem;
  }

  .header__button {
    font-size: 0.875rem;
  }

  .header__logo img {
    height: 1.875rem;
  }

  .header__menu {
    gap: 1.25rem;
  }

  .menu__list {
    font-size: 1.125rem;
  }

  .menu__list li {
    padding: 0.3125rem;
  }

  .menu__list {
    gap: 0.3125rem;
  }

  .main__container {
    margin-top: 3.75rem;
  }

  .main__title {
    font-size: 1.875rem;
  }

  .main__run_text {
    font-size: 1.25rem;
  }

  .main__body {
    padding-top: 1.25rem;
  }

  .main__body-socials {
    padding-top: 0.3125rem;
  }

  .portfolio {
    margin-top: 3.125rem;
  }

  .portfolio__items {
    gap: 0.9375rem;
  }

  .portfolio__item span {
    font-size: 1.5625rem;
  }

  .skills__container {
    margin-top: 3.125rem;
  }

  .skills__items {
    margin-top: 1.25rem;
  }

  .skills__item {
    padding: 0.9375rem;
  }

  .whyme__container {
    margin-top: 3.125rem;
  }

  .whyme__title {
    font-size: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .main__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0.9375rem;
    position: relative;
    padding: 0.625rem;
  }

  .main__body-text {
    text-align: center;
  }

  .main__run {
    padding-top: 5rem;
  }

  .main__body-media img {
    width: 90%;
  }

  .whyme__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .whyme__slider {
    width: 100%;
  }
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__body {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #000;
    z-index: 5;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.3rem !important;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 0.4375rem;
  }

  .footer__logo img {
    width: 50%;
  }

  .portfolio__item {
    padding: 0 15px 0 15px;
  }

  .skills__items {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .skills__item {
    font-size: 0.9375rem;
  }

  .skills__item img {
    width: 2.75rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 81.25em) {
@supports (font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem )) {
    .text {
      font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem )) {
    .text {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding: clamp( 0.625rem , 0.4209183673rem  +  1.0204081633vw , 1.25rem )) {
    .button {
      padding: clamp( 0.625rem , 0.4209183673rem  +  1.0204081633vw , 1.25rem );
    }
}

@supports not (padding: clamp( 0.625rem , 0.4209183673rem  +  1.0204081633vw , 1.25rem )) {
    .button {
      padding: calc(0.625rem + 0.625 * (100vw - 20rem) / 61.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem )) {
    .button {
      font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem )) {
    .button {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 61.25);
    }
}

@supports (font-size: clamp( 1.875rem , 1.262755102rem  +  3.0612244898vw , 3.75rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.262755102rem  +  3.0612244898vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.262755102rem  +  3.0612244898vw , 3.75rem )) {
    .title {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding: clamp( 0.625rem , 0.4209183673rem  +  1.0204081633vw , 1.25rem )) {
    .header__container {
      padding: clamp( 0.625rem , 0.4209183673rem  +  1.0204081633vw , 1.25rem );
    }
}

@supports not (padding: clamp( 0.625rem , 0.4209183673rem  +  1.0204081633vw , 1.25rem )) {
    .header__container {
      padding: calc(0.625rem + 0.625 * (100vw - 20rem) / 61.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem )) {
    .header__button {
      font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem )) {
    .header__button {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 61.25);
    }
}

@supports (height: clamp( 1.875rem , 1.0586734694rem  +  4.0816326531vw , 4.375rem )) {
    .header__logo img {
      height: clamp( 1.875rem , 1.0586734694rem  +  4.0816326531vw , 4.375rem );
    }
}

@supports not (height: clamp( 1.875rem , 1.0586734694rem  +  4.0816326531vw , 4.375rem )) {
    .header__logo img {
      height: calc(1.875rem + 2.5 * (100vw - 20rem) / 61.25);
    }
}

@supports (gap: clamp( 1.25rem , -0.3826530612rem  +  8.1632653061vw , 6.25rem )) {
    .header__menu {
      gap: clamp( 1.25rem , -0.3826530612rem  +  8.1632653061vw , 6.25rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.3826530612rem  +  8.1632653061vw , 6.25rem )) {
    .header__menu {
      gap: calc(1.25rem + 5 * (100vw - 20rem) / 61.25);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0841836735rem  +  0.2040816327vw , 1.25rem )) {
    .menu__list {
      font-size: clamp( 1.125rem , 1.0841836735rem  +  0.2040816327vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0841836735rem  +  0.2040816327vw , 1.25rem )) {
    .menu__list {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding: clamp( 0.3125rem , 0.006377551rem  +  1.5306122449vw , 1.25rem )) {
    .menu__list li {
      padding: clamp( 0.3125rem , 0.006377551rem  +  1.5306122449vw , 1.25rem );
    }
}

@supports not (padding: clamp( 0.3125rem , 0.006377551rem  +  1.5306122449vw , 1.25rem )) {
    .menu__list li {
      padding: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 61.25);
    }
}

@supports (gap: clamp( 0.3125rem , 0.1084183673rem  +  1.0204081633vw , 0.9375rem )) {
    .menu__list {
      gap: clamp( 0.3125rem , 0.1084183673rem  +  1.0204081633vw , 0.9375rem );
    }
}

@supports not (gap: clamp( 0.3125rem , 0.1084183673rem  +  1.0204081633vw , 0.9375rem )) {
    .menu__list {
      gap: calc(0.3125rem + 0.625 * (100vw - 20rem) / 61.25);
    }
}

@supports (margin-top: clamp( 3.75rem , 2.5255102041rem  +  6.1224489796vw , 7.5rem )) {
    .main__container {
      margin-top: clamp( 3.75rem , 2.5255102041rem  +  6.1224489796vw , 7.5rem );
    }
}

@supports not (margin-top: clamp( 3.75rem , 2.5255102041rem  +  6.1224489796vw , 7.5rem )) {
    .main__container {
      margin-top: calc(3.75rem + 3.75 * (100vw - 20rem) / 61.25);
    }
}

@supports (font-size: clamp( 1.875rem , 0.8545918367rem  +  5.1020408163vw , 5rem )) {
    .main__title {
      font-size: clamp( 1.875rem , 0.8545918367rem  +  5.1020408163vw , 5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 0.8545918367rem  +  5.1020408163vw , 5rem )) {
    .main__title {
      font-size: calc(1.875rem + 3.125 * (100vw - 20rem) / 61.25);
    }
}

@supports (font-size: clamp( 1.25rem , 0.0255102041rem  +  6.1224489796vw , 5rem )) {
    .main__run_text {
      font-size: clamp( 1.25rem , 0.0255102041rem  +  6.1224489796vw , 5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.0255102041rem  +  6.1224489796vw , 5rem )) {
    .main__run_text {
      font-size: calc(1.25rem + 3.75 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.8418367347rem  +  2.0408163265vw , 2.5rem )) {
    .main__body {
      padding-top: clamp( 1.25rem , 0.8418367347rem  +  2.0408163265vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.8418367347rem  +  2.0408163265vw , 2.5rem )) {
    .main__body {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 0.3125rem , 0.2104591837rem  +  0.5102040816vw , 0.625rem )) {
    .main__body-socials {
      padding-top: clamp( 0.3125rem , 0.2104591837rem  +  0.5102040816vw , 0.625rem );
    }
}

@supports not (padding-top: clamp( 0.3125rem , 0.2104591837rem  +  0.5102040816vw , 0.625rem )) {
    .main__body-socials {
      padding-top: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 61.25);
    }
}

@supports (margin-top: clamp( 3.125rem , 0.0637755102rem  +  15.306122449vw , 12.5rem )) {
    .portfolio {
      margin-top: clamp( 3.125rem , 0.0637755102rem  +  15.306122449vw , 12.5rem );
    }
}

@supports not (margin-top: clamp( 3.125rem , 0.0637755102rem  +  15.306122449vw , 12.5rem )) {
    .portfolio {
      margin-top: calc(3.125rem + 9.375 * (100vw - 20rem) / 61.25);
    }
}

@supports (gap: clamp( 0.9375rem , 0.8354591837rem  +  0.5102040816vw , 1.25rem )) {
    .portfolio__items {
      gap: clamp( 0.9375rem , 0.8354591837rem  +  0.5102040816vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.8354591837rem  +  0.5102040816vw , 1.25rem )) {
    .portfolio__items {
      gap: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 61.25);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.4604591837rem  +  0.5102040816vw , 1.875rem )) {
    .portfolio__item span {
      font-size: clamp( 1.5625rem , 1.4604591837rem  +  0.5102040816vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.4604591837rem  +  0.5102040816vw , 1.875rem )) {
    .portfolio__item span {
      font-size: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 61.25);
    }
}

@supports (margin-top: clamp( 3.125rem , 1.0841836735rem  +  10.2040816327vw , 9.375rem )) {
    .skills__container {
      margin-top: clamp( 3.125rem , 1.0841836735rem  +  10.2040816327vw , 9.375rem );
    }
}

@supports not (margin-top: clamp( 3.125rem , 1.0841836735rem  +  10.2040816327vw , 9.375rem )) {
    .skills__container {
      margin-top: calc(3.125rem + 6.25 * (100vw - 20rem) / 61.25);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.637755102rem  +  3.0612244898vw , 3.125rem )) {
    .skills__items {
      margin-top: clamp( 1.25rem , 0.637755102rem  +  3.0612244898vw , 3.125rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.637755102rem  +  3.0612244898vw , 3.125rem )) {
    .skills__items {
      margin-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding: clamp( 0.9375rem , 0.631377551rem  +  1.5306122449vw , 1.875rem )) {
    .skills__item {
      padding: clamp( 0.9375rem , 0.631377551rem  +  1.5306122449vw , 1.875rem );
    }
}

@supports not (padding: clamp( 0.9375rem , 0.631377551rem  +  1.5306122449vw , 1.875rem )) {
    .skills__item {
      padding: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 61.25);
    }
}

@supports (margin-top: clamp( 3.125rem , 1.0841836735rem  +  10.2040816327vw , 9.375rem )) {
    .whyme__container {
      margin-top: clamp( 3.125rem , 1.0841836735rem  +  10.2040816327vw , 9.375rem );
    }
}

@supports not (margin-top: clamp( 3.125rem , 1.0841836735rem  +  10.2040816327vw , 9.375rem )) {
    .whyme__container {
      margin-top: calc(3.125rem + 6.25 * (100vw - 20rem) / 61.25);
    }
}

@supports (font-size: clamp( 1.875rem , 1.4668367347rem  +  2.0408163265vw , 3.125rem )) {
    .whyme__title {
      font-size: clamp( 1.875rem , 1.4668367347rem  +  2.0408163265vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4668367347rem  +  2.0408163265vw , 3.125rem )) {
    .whyme__title {
      font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 61.25);
    }
}
}